
.linkGif
{
	position:absolute;
	top:100px;
	left:1000px;
	
}

.blackB
{
	background-color: black;
	padding: 350px;

}

.lightCyan

{
	background-color: #E0FFFF;
	padding:100px;
}

.black
{
	color:black;
	font-size:20px;
}


.blanco
{
	color:white;
	font-size: 30px;
	position: absolute;
	left: 1335px;
	top:70px;
}

.aqui
{
	color:white;
	position: absolute;
	left:40px;
	top:270px;
	font-size: 25px;
}

.zelda
{
	color:white;
	font-size:50px;
	position:absolute;
	left:300px;
	top:225px; 
	font-family: sans-serif;

}

.zelda:hover
{
	font-family:serif;
	color:#FFD700;
	font-size:75px;
	background-image: url("link.gif");
	left:300px;
	top:225px; 
	height: 400px;
	width:670px;
}

.help 
{
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

.help p 
{
    padding: 10px 35px;
    font-size: 18px;
}